.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #434455;
  background-color: #fff;
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 760px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 999;
  background-color: #fff;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  padding-top: 72px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  stroke-width: 1px;
  background-color: transparent;
  border-style: none;
  justify-content: center;
  fill: #ffffff;
  display: flex;
  stroke-width: 1px;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus,
.mobile-menu-close:hover {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.mobile-menu-icon-close {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-link-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: block;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile.current {
  position: relative;
  color: #404bbf;
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-item-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.socials-menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  gap: 40px;
}

.socials-items {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.nav-item-mobile {
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts-link-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.contacts-menu {
  margin-bottom: 48px;
}

.nav-link-mobile:hover,
.contacts-link-mobile:hover,
.nav-link-mobile:focus,
.contacts-link-mobile:focus {
  color: #404bbf;
}

.main-section {
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  align-items: center;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(117, 120, 168, 0.7) 100%
    ),
    url(../images/office/office-mob-1-min.jpg),
    url(../images/office/office-mob-1@2x-min.jpg);
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 320px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 72px;
  margin: 0 auto;
  max-width: 216px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/office-tab-1-min.jpg);
  }

  .main-title {
    padding: 0;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(117, 120, 168, 0.7) 100%
      ),
      url(../images/office/office-tab-1@2x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .first-container {
    max-width: 768px;
  }

  .main-title {
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .main-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/office-desk-1-min.jpg);
    background-color: #2e2f42;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .main-section {
      background-image: linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(117, 120, 168, 0.7) 100%
        ),
        url(../images/office/office-desk-1@2x-min.jpg);
    }
  }

  .first-container {
    padding: 0 15px;
  }

  .main-title {
    margin-bottom: 48px;
    max-width: 496px;
    line-height: 107%;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
  }
}

.opportunities {
  padding-top: 96px;
  padding-bottom: 96px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
}

.item-description {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.icons {
  display: none;
}

@media screen and (min-width: 768px) {
  .second-container {
    max-width: 768px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .item-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }

  .item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .opportunities {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .second-container {
    max-width: 1158px;
  }

  .item-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
    max-width: 736px;
  }

  .icon-container {
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .icons {
    display: inline-block;
  }

  .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }

  .item-description {
    font-weight: 400;
  }
}

/*team*/

.section-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.third-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.first-team {
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.list-class {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.employee-info {
  padding: 32px 16px;
}

.item-staff {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.item-paragraph {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  text-align: center;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(77, 90, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #fff;
}

.social-icon:active {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-team {
    display: flex;
  }

  .third-container {
    max-width: 768px;
  }

  .list-class {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
  }

  .first-team {
    background-color: #ffffff;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24px) / 2);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .social-icon:active {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .third-container {
    max-width: 1158px;
    padding: 0 15px;
    background: rgb(244, 244, 253);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .first-team {
    flex-basis: calc((100% - 72px) / 4);
  }

  .social-icon:hover,
  .social-icon:focus {
    background-color: #404bbf;
  }
}

/*portfolio*/

.portfolio-section {
  overflow: hidden;
  border-color: rgba(231, 233, 252, 1);
  text-decoration: none;
  color: inherit;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.item-portfolio {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.extra-text {
  padding: 40px 32px;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(77, 90, 229);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(244, 244, 253);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
}

.app-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraph-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .item-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .list-portfolio {
    width: calc((100% - 24px) / 2);
  }

  .image-container {
    border-top: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .item-portfolio {
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-portfolio:hover .extra-text {
    transform: translateY(0);
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }

  .extra-text {
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*footer*/

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.logo-part {
  color: #f4f4fd;
}

.footer-logo:active,
.logo-part:active {
  color: #4d5ae5;
}

.paragraph-logo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  text-align: left;
  max-width: 100%;
}

.subtitle-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socials {
  gap: 16px;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-socials-link:active {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #ffffff;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  justify-content: center;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wropper {
  margin-bottom: 16px;
}

.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
  width: 288px;
  height: 40px;
  padding-left: 16px;
}

.email-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: rgb(77, 90, 229);
  min-width: 165;
  height: 40px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

@media only screen and (max-width: 767px) {
  .email-input {
    width: 288px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: flex-start;
    padding: 0 108px;
    gap: 72px 24px;
    max-width: 768px;
    margin: 0 auto;
  }

  .container-logo-footer {
    max-width: 264px;
  }

  .footer-logo:active,
  .logo-part:active {
    color: #4d5ae5;
  }

  .subtitle-footer {
    text-align: start;
  }

  .footer-socials-link:active {
    background-color: #31d0aa;
  }

  .subscribe-container {
    margin-bottom: 0;
  }

  .subscribe-title {
    text-align: start;
  }

  .form-subscribe {
    align-items: flex-start;
    flex-direction: row;
  }

  .label-wropper {
    margin-bottom: 0;
  }

  .email-input {
    max-width: 264px;
    margin: 0;
  }

  .subscribe-button {
    margin-left: 24px;
  }

  .subscribe-button:active {
    background: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
    line-height: 1.6;
  }

  .footer-container {
    max-width: 1158px;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    padding: 0 15px;
  }

  .footer-logo:hover,
  .logo-part:focus {
    color: #4d5ae5;
  }

  .footer-socials-container {
    margin: 0;
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background: #404bbf;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  border-radius: 4px;
  min-height: 623px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-last {
  cursor: pointer;
  line-height: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-last:hover {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.button-last:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-title {
  color: rgb(46, 47, 66);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.button-last {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-last:focus,
.button-last:hover {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.backdrop-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.input-cantainer {
  margin-bottom: 8px;
}

.label-item {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.input-title {
  width: 360px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-title:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.person-icon:focus {
  fill: #4d5ae5;
}

.person-icon {
  position: absolute;
  left: 16px;
  pointer-events: none;
}

.textarea-container {
  margin-bottom: 16px;
}

.textarea-container:focus {
  border-color: #4d5ae5;
}

.label-item {
  color: rgb(142, 143, 153);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.comment-area {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  box-shadow: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  text-align: left;
  box-sizing: border-box;
}

.agreement-container {
  margin-bottom: 24px;
  margin-top: 16px;
  display: inline-flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement {
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.agreement-title {
  display: flex;
  align-items: center;
}

.checkbox-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 16px;
  background-color: transparent;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  flex-shrink: 0;
}

.checkbox-icon {
  fill: #f4f4fd;
}

.pp-link {
  text-underline-offset: auto;
  text-decoration: underline;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-button {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-color: transparent;
  margin: 0 auto;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .is-open {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .agreement-container {
    margin-bottom: 24px;
  }
}
